

<%= link_to service_path(service) do %>


<div class="col-xs-12 col-sm-4" >
  <div class="card stretchRight"   style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
  url('<%=  cl_image_path service.photo, height: 300, width: 400, crop: :fill %>')">
  <div class="card-category"><%= service.category %></div>
  <div class="card-description">
    <h2><%= service.name %></h2>
    <p><%= service.location %></p>
  </div>
  <img class="card-user" src="<%= cl_image_path service.contractor.user.avatar, height: 200, width: 200, crop: :fill, :gravity=>"face" %>">
</div>
</div>
<% end %>
