<h1>Services#new</h1>
<p>Find me in app/views/services/new.html.erb</p>

<%= simple_form_for(@service) do |f| %>
<%=f.input :name %>
<%=f.input :description %>
<%=f.input :price %>
<%=f.input :location %>
<%=f.input :category %>
<%=f.simple_fields_for :pictures, multipart: true do |ff|  %>
  <%= ff.input :url, as: :file %>
  <%= ff.input :url_cache, as: :hidden %>
<% end %>

<%=f.submit 'Create', class: 'btn btn-primary' %>
<% end %>

<%= link_to 'Back to services', services_path %>
