

<div class="about-title">
<h1>About us</h1>

</div>
<div id="titles">
  <div id="titlecontent">
    <div class="avatars-about">
      <p>
        <div class="avatar-about">
          <%= image_tag("fotopp.jpg", size: "300x300", class: 'avatar-about') %>
        </div>
      </p>
      <p>
        <div class="avatar-about">
         <%= image_tag("https://files.slack.com/files-pri/T02NE0241-F9UA2HRS7/rb.jpg", size: "300x300", class: 'avatar-about') %>
       </div>
     </p>
     <p>
       <div class="avatar-about">
         <%= image_tag("https://ca.slack-edge.com/T02NE0241-U939Q8KR7-160c90d65b5d-512", size: "300x300", class: 'avatar-about') %>
       </div>
     </p>
   </div>

  <p>
    We are a team of programmers from LeWagon Brussels.
     This is a project for our class on the batch #133   2018.
     We like coding but we also love life! Hiking, Surfing..etc.
     Daniel came from Galicia as a young boy, groomed to be a barber apprentice. He had a difficult relation with his tutor, a severe man who had lost his wife at an early age and enjoyed drinking above the normal standard.
     After a serious of grievances and many customers with funny looking hairdos, Daniel searched for another path that ran closer to his heart: raising chicken.
     He's been highly proficuous at his job, reaching an impressive record of 1 million heads, whom he knew by first name.
     It wasn't until Jasmine, one of his chicken, couldn't find the right partner, that he thought about building a dating site for the litle animals. He found Le Wagon and has since progressed tremendously in his skills as a programmer. Jasmine won't be alone for much longer.

     Georges was a renowed surfer on the coast of Malibu. He descended directly from a Kanaka Maoli king, a ruler in acient Hawai, who traded directly with Francis Cook.
     The genetic love for the ocean and free outdoors perdured in Georges, whose dextery and sheer courage was unmatched among his friends. Beautiful girls orbited around this poseidon.
     It wasn't until one day when he fell hard from the sufboard and hit hard with his head that he felt suddenly unconfortable in the ocean, and even annoyed by being wet. He rushed home walking very fast under a blazing sun and was only stopped by a lady, who had some difficulties finding the directions to her son's house on her phone. Without any previous background, Georges fixed the bug in the geo location on Google's API, leading the lady safely to her destination.
     Ruben wrote this bullshit.
      Hope you enjoy our first work together!
  </p>

  </div>
</div>




<<!-- div class="wrapper-about" style="background-image: url('http://1.bp.blogspot.com/_7dQZHOcM080/TTH2i8JfqrI/AAAAAAAAAE0/2Ahungrxz68/s1600/line.jp')">
  <div class="container">
    <div class="avatars-about" >
      <p>
        <div class="avatar-about">
          <%= image_tag("fotopp.jpg", size: "100x100", class: 'avatar-about') %>

        </div>
      </p>
      <p>
        <div class="avatar-about">
         <%= image_tag("https://files.slack.com/files-pri/T02NE0241-F9UA2HRS7/rb.jpg", size: "100x100", class: 'avatar-about') %>
       </div>
     </p>
     <p>
       <div class="avatar-about" style="border-radius: 50px;">
         <%= image_tag("https://ca.slack-edge.com/T02NE0241-U939Q8KR7-160c90d65b5d-512", size: "100x100", class: 'avatar-about') %>
       </div>
     </p>
   </div>
   <div class="card-about" style="margin-bottom: 50px; ">
    <h1>about us</h1>

    <h2>We are a team of programmers from LeWagon Brussels.
     This is a project for our class on the batch #133   2018.
     We like coding but we also love life! Hiking, Surfing..etc. Hope you enjoy our first work together!
   </h2>

 </div>
</div>
</div>



</div> -->





