    <div class="container text-center">
      <div class="grid">

        <div class="frame profile">
          <div class="card-content">
            <%= cl_image_tag current_user.avatar, class: "img-circle", width: "150" %>
            <h2><%= current_user.first_name %> <%= current_user.last_name%></h2>
            <a href="#" class="btn btn-primary btn-lg">Get in touch</a>
          </div>
        </div>
        <div class="frame contributions">
          <div class="card-content">

           <h3> <%= @bookings_count %> </h3>
            <p>Bookings received</p>
          </div>
        </div>
        <div class="frame followers">
          <div class="card-content">
            <h3>1,973$</h3>
            <p>Cashed-in</p>
          </div>
        </div>
        <div class="frame repo">
          <div class="card-content">
            <h3>****</h3>
            <p>Rating</p>
          </div>
        </div>
        <div class="frame bio">
          <div class="card-services">
            <h3>Services provided by <%= current_user.first_name%></h3>
              <% @services.sample(15).each do |serv| %>
              <ul>
                <li> <%= link_to serv.name, service_path(serv) %> </li>
              </ul>
              <% end %>
          </div>
        </div>
      </div>
    </div>




